@tailwind base;
@tailwind components;
@tailwind utilities;

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .fade-in{
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-moz-keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  .fade-in-up{
    animation: fadeInUp ease 3s;
    -webkit-animation: fadeInUp ease 3s;
    -moz-animation: fadeInUp ease 3s;
    -o-animation: fadeInUp ease 3s;
    -ms-animation: fadeInUp ease 3s;
  }
  @keyframes fadeInUp{
    0% {
      opacity:0;
      transform: translateY(50px);
    }
    100% {
      opacity:1;
      transform: translateY(0);
    }
  }

  .scrolldown-in{
    animation: scrolldown ease 3s;
    -webkit-animation: scrolldown ease 3s;
    -moz-animation: scrolldown ease 3s;
    -o-animation: scrolldown ease 3s;
    -ms-animation: scrolldown ease 3s;
  }
    @keyframes scrolldown{
        0% {
        opacity:0;
        transform: translateY(-50px);
        }
        100% {
        opacity:1;
        transform: translateY(0);
        }
    }
    